*.so
*.a
*.o
*.lo
*.la
*~
Makefile.in
aclocal.m4
autom4te.cache/
cmake-build-debug
configure
config.status
config.log
Makefile
libtool
build-aux/
.deps/
.idea/*
.libs/
src/main
src/storjshare
test/tests
test/test-suite.log
test/tests.log
test/tests.trs
TAGS
*.swp
libstorjshare.pc
docs
src/storjshare.exe
test/tests.exe
src/storjshare.dSYM/
test/tests.dSYM/
shards.sqlite